body {
  margin: 0;
}
.card-container body, input, button {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  color: rgb(75, 69, 69);
}
.card-container button {
  border-radius: 25px;
  border: none;
  cursor: pointer;
}
.card-container input {
  font-family: Poppins, sans-serif;
  padding: 5px 20px;
  margin: 0 15px;
  font-family: inherit;
}

.card-container label {
  position: absolute;
  left: 36.5px;
  top: 0;
}

.game-card {
  position: relative;
  font-family: "Poppins" "Comic Sans MS";
  width: 700px;
  border-radius: 25px;
  text-align: center;
  padding: 10px;
  margin: auto;
  margin-top: 50px;
  background: linear-gradient(#D6D4E1, #9198e5);
}

.game-card div {
  padding: 5px 0;
}

.image {
  border-radius: 25px;
  width: 300px;
}

.zero-opacity {
  opacity: 0;
}

.color-error-few {
  color: orange;
}

.color-error-many {
  color: red;
}

.color-correct {
  color: green;
}

#audio-control {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  position: absolute;
  right: 50px;
  top: 30px;
  cursor: pointer;
  background-size: contain;
  z-index: 2;
}

#translation-control {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  position: absolute;
  right: 50px;
  top: 100px;
  cursor: pointer;
  background-size: contain;
  z-index: 2;
}

.sound-on {
  background-image: url('/assets/images/soundOn.png');
}

.sound-off {
  background-image: url('/assets/images/soundOff.png');
}

.translation-on {
  background-image: url('/assets/images/translationOn.png');
}

.translation-off {
  background-image: url('/assets/images/translationOff.png');
}
.card-container {
  width: 800px;
  margin: auto;
}

/* btns */
.difficulty-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.difficulty-btns button {
  font-size: 26px;
  width: 23%;
  padding: 10px;
}
.card-btns {
  display: flex;
  justify-content: space-between;
}
.card-btns button {
  margin-left: 5px;
  padding: 10px;
  background: linear-gradient(#dbdbdb, #b4b2b2);
}
.card-btns button:hover {
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
}
.difficulty-btns button:hover{
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
}

.show-answer-btn {
  margin-right: auto;
}
.easy-btn {
  background: linear-gradient(#f1eb89, #ffd102);
}
.hard-btn {
  background: linear-gradient(#ff8d6a, #da0a0a);
}
.good-btn {
  background: linear-gradient(#6aff7e, #0ada0a);
}
.again-btn {
  background: linear-gradient(#f69648, #ff7300);
}

/* StartScreen */
.start-screen-container-wrapper  {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(https://image.freepik.com/free-vector/cute-seamless-pattern-with-octopus-jellyfish-starfish-crab_76147-182.jpg)
}
.start-screen-container {
  font-family: "Poppins" "Comic Sans MS";
  width: 70%;
  padding: 40px 20px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
  border-radius: 10px;
  z-index: 10;
  background: linear-gradient(#ffffff, #e0e4e9);;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.games-container {
  display: flex;
}

.words-to-practice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

.words-to-practice, .hard-words, .new-words, .learning-words {
  margin: 10px;
  border-radius: 25px;
  background: linear-gradient(#D6D4E1, #b8cce6);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
  padding: 20px;
  cursor: pointer;
}

.games-title {
  padding-left: 20px;
}

.start-screen-container h2, h3 {
  color: rgb(48, 128, 182);
}

.new-number {
  color: rgb(74, 173, 16);
}
.learning-number {
  color: rgb(68, 66, 211);
}
.hard-number {
  color: rgb(173, 16, 29);
}

.translucent {
  color: grey;
  opacity: 0.7;
}

.display-none {
  display: none;
}

.card-btns .btn_clicked {
  background:rgb(78, 100, 100);
  cursor: not-allowed;
}

.card-btns .end-game {
  background: linear-gradient(#53aa19,#68f30b);
}

.fade {
  position: fixed;
  top: 0;
  z-index: 15;
  font-size: 16px;
  font-family: Poppins,Comic Sans MS;
  color: #4b4545;
  width: 100vw;
  height: 100vh;
  background: rgba(23, 23, 23, 0.9);
}
.close-btn {
  display: block;
  margin: auto;
}
.no-words-container p {
  text-align: center;
}

/* static */

.logo {
  width: 80px;
  margin-bottom: 20px;
  margin: 0 auto;
  display: block;
}

.statistics-container {
  width: 330px;
  padding: 40px 20px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
  border-radius: 10px;
  z-index: 10;
  background: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.statistics-container_title {
  align-content: center;
  text-align: center;
}
.statistics-container p {
  display: flex;
  justify-content: space-between;
}

.statistics-btn, .modal-btn {
  display: block;
  margin: auto;
}

.modal  {
  position: fixed;
  top: 0;
  z-index: 5;
  font-size: 16px;
  font-family: Poppins,Comic Sans MS;
  color: #4b4545;
  width: 100vw;
  height: 100vh;
  background: url(https://image.freepik.com/free-vector/cute-seamless-pattern-with-octopus-jellyfish-starfish-crab_76147-182.jpg)
}

.swiper-container-horizontal>.swiper-pagination-progressbar {
  height: 10px !important;
}


.notification-container {
  width: 330px;
  padding: 40px 20px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
  border-radius: 10px;
  z-index: 10;
  background: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.modal-btns-container {
  display: flex;
  justify-content: space-between;
}

.notification-container h3, h4 {
  text-align: center;
}
.new-words:hover, .learning-words:hover, .hard-words:hover, .words-to-practice:hover {
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
}
.swiper-button-next {
  right: 50px !important;
}
@media (max-width: 1020px) {
  #audio-control, #translation-control {
    width: 40px;
    height: 40px;
    top: 10px;
  }
  #translation-control {
    left: 10px;
  }
  #audio-control {
    left: 70px;
  }
  .swiper-button-next {
    top: 30px !important;
    width: 10px !important;
    height: 40px !important;
    right: 20px !important;
  }
  .swiper-button-next:after {
    font-size: 20px !important;
  }
}
@media (max-width: 760px) {
  .card-container body, button, input {
    font-size: 12px;
  }
  .start-screen-container {
    padding: 5px 20px;
  }
  .games-container {
    flex-direction: column;
    font-size: 12px;
  }
  .words-to-practice {
    width: 82%;
    margin-right: 0;
  }
  .new-words, .learning-words, .hard-words, .words-to-practice {
    padding: 10px;
  }
  .game-card {
    width: 95vw;
    font-size: 12px;
  }
  .difficulty-btns button, .card-btns button {
    font-size: 10px;
  }
  .statistics-container, .notification-container {
    width: 280px;
    padding: 10px;
  }
}


.spinner {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}
.spinner .path {
  stroke: #93bfec;
  stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.show {
  display: block;
}