.header {
  display: flex;
  align-items: center;
  grid-area: header;
  grid-column: 1/-1;
  background: cadetblue;
}

.title {
  font-size: 3rem;
  color: aliceblue;
  width: 110%;
  text-align: center;
}

.user {
  width: 9rem;
}
@media screen and (max-width: 320px){
  .header {
    height: 52px;
  }
  .title {
    font-size: 2rem;
  }
  .avatar {
    width: 85px;
    height: 60px;
  }
  .user {
    width: 4rem;
  }
  button {
    width: 70px;
    font-size: 9px;
  }
  .tab-layout {
    grid-template-areas:
        "gauge"
        "statsTable"
        "overallStats"
        "todayStats";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }
}