.header {
  display: flex;
  align-items: center;
  grid-area: header;
  grid-column: 1/-1;
  background: cadetblue;
}

.title {
  font-size: 3rem;
  color: aliceblue;
  width: 110%;
  text-align: center;
}

.user {
  width: 9rem;
}