.main-container {
  grid-area: gauge;
  grid-column: 1/-1;
  display: flex;
  color: cadetblue;
}

.course-completion {
  color: green;
}

.bar-chart {
  width: 50%;
  margin-top: 1rem;
}

.bar-chart svg {
  overflow: inherit;
}

.pie-chart-block {
  display: flex;
  width: 50%;
  align-items: center;
  flex-direction: column;
}

.course-completion {
  font-size: 1.5rem;
  font-family: fantasy;
  color: cadetblue;
}

.pie text {
  font-size: 3em;
  font-family: "Verdana";
  fill: #888;
}