* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(https://image.freepik.com/free-vector/cute-seamless-pattern-with-octopus-jellyfish-starfish-crab_76147-182.jpg);
}

h3 {
  color: #10467b;
  font-weight: 600;
  margin-top: 50px;
}

.form-difficult label:first-child:before {
  display: none;
}

body .form-difficult {
  width: 300px;
}

.memory-game {
  width: 740px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.mainCard {
  width: 400px;
  height: 440px;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #81a4b4;
  backface-visibility: hidden;
}

.mainCard .front-face {
  font-size: 1rem;
  padding-top: 30px;
}

.front-face .btn-sm {
  margin-left: 40px;
}

.front-face {
  transform: rotateY(180deg);
  font-weight: 500;
  padding-top: 80px;
  font-size: 1.1rem;
  text-align: center;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.btn-secondary {
  margin-left: 10px;
}

.btn-sm {
  margin-left: 250px;
  margin-top: 10px;
  position: absolute;
  bottom: 10px;
}

.game-header {
  margin-top: 10px;
  width: 100%;
}

.score {
  width: 60px;
  height: 60px;
  padding-top: 13px;
  text-align: center;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  font-weight: 900;
  color: #39b919;
  margin-left: calc(100% / 3);
  background-color: #ffffff;
}

.game-over {
  opacity: 0.7;
  background-color: beige;
  margin: 1.2rem auto;
  padding: 2rem;
}

.final-text {
  font-size: 1.3rem;
  color: #000000;
}

.input-group {
  margin-left: 1.2rem;
  width: auto;
}

.form-control {
  width: auto;
  height: auto;
}
