* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-size: cover;
    background-image: url('/assets/images/savanna-bg.png');
    background-repeat: no-repeat;
}

.wrapper {
    padding: 10px;
    display: flex;
}

.button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

.button--return {
    margin-left: auto;
    width: 40px;
    height: 40px;
    background-image: url('/assets/images/cross.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.button--start {
    margin: 0 auto;
    padding: 10px 40px;
    max-width: max-content;
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #412C84;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #200772;
}

.savanna__title {
    margin-top: 200px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 13px;
    text-align: center;
    opacity: .8;
}

.savanna__description {
    margin: 50px auto;
    max-width: 585px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    opacity: .8;
}

.await-block {
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.await-block__keyboard {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-image: url('/assets/images/keyboard.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.await-block__promt {
    margin: 0 auto;
    max-width: 300px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.button--sound {
    width: 38px;
    height: 48px;
    background-image: url(/assets/images/savanna-sound.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.sound-disabled {
    background-image: url(/assets/images/savanna-sound-disabled.svg);
}

.lifes-wrapper {
    margin: 10px 0 10px auto;
    display: flex;
}

.heart-icon {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background-image: url(/assets/images/savanna-heart.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.heart-icon--disabled {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background-image: url(/assets/images/savanna-heart-disabled.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.game-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.answers-wrapper {
    display: flex;
    justify-content: center;
}

.button--english {
    margin: 10px auto;
    width: 150px;
    height: 50px;
    background-color: yellow;
    cursor: none;
}

.button--rus {
    margin: 15px;
    width: 100px;
    height: 50px;
    background-color: tomato;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: teal;
    opacity: .6;
}

.game-results {
    position: absolute;
    width: 50vw;
    height: 90vh;
    top: 5vh;
    left: 50%;
    margin-left: -25vw;
    background-color: #fff;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-results__text {
    margin-top: 30px;
    font-size: 30px;
    text-transform: uppercase;
}

.game-results__result {
    margin-top: 30px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: underline;
}

.game-results__description {
    margin-top: 0;
    width: 0;
    height: 0;
    font-size: 0;
    background-color: turquoise;
    border-radius: 5px;
    transition: all .5s linear;
}

.game-results__description--click {
    margin-top: 15px;
    padding: 15px 20px;
    font-size: 18px;
    width: 60%;
    height: 400px;
}

.block-title {
    text-transform: uppercase;
}

.block-title--right {
    color: blue;
}

.block-title--wrong {
    margin-top: 20px;
    color: red;
}

.game-results__answer {
    margin-top: 10px;
}

.game-results__answer:hover {
    text-decoration: underline;
    cursor: pointer;
}

.game-results__try {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 14px;
    background-color: tomato;
    cursor: pointer;
}

.game-results__back {
    margin-top: 15px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/images/loading.gif');
    opacity: 0.99;
    z-index: 1000;
}

.hidden {
    display: none;
}