body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.tab-layout {
  display: grid;
  grid-template-areas: 'gauge statsTable'
    'overallStats todayStats';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .tab-layout {
    grid-template-areas:
        "gauge"
        "statsTable"
        "overallStats"
        "todayStats";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }
}
canvas {
  max-width: 100%;
}