* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body,
  html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  
  a {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    font-weight: 400;
    transition: all 0.4s;
  }
  
  a:focus, button:focus {
    outline: none;
  }
  
  a:hover {
    text-decoration: none;
    color: #6a7dfe;
    color: linear-gradient(to right, #21d4fd, #b721ff);
  }
  
  p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    font-weight: 400;
  }
 