* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

main {
  flex:1;
}

.row {
  margin: 0;
}

.words-content {
  justify-content: center;
  height: calc(100%-128px);
}

.tab-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

a {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  font-weight: 400;
  transition: all 0.4s;
}

a:focus,
button:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
  color: #6a7dfe;
  color: linear-gradient(to right, #21d4fd, #b721ff);
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  font-weight: 400;
}

.statistic {
  color: #738795;
  font-size: 18px;
}

body {
  background: linear-gradient(
    62deg,
    rgba(64, 180, 189, 1) 0%,
    rgba(214, 212, 225, 1) 61%,
    rgba(255, 255, 255, 1) 100%
  ) no-repeat center center fixed;
  background-size: cover;
}

.words-content {
  background: #f6ecee;
}

.tab-content {
  margin-left: 10px;
}

.word-card {
  border-top: 2px dashed #666666;
  padding: 16px 0;
}

.english-word {
  display: inline;
  color: #738795;
  margin-right: 10px;
}

.transcription {
  display: inline;
}

.explanation {
  padding: 8px 5px;
}

.card-image {
  width: inherit;
  max-height: 190px;
}

.image-block {
  padding-top: 20px;
}

.btn-play,
.btn-delete {
  font-size: 24px;
  color: #999999;
  display: flex;
  align-items: center;
  padding-right: 5px;
  cursor: pointer;
  transition: all 0.4s;
}

.btn-delete {
  position: absolute;
  top: 5px;
  left: 90%;
}

.btn-play:hover,
.btn-delete:hover {
  color: #6a7dfe;
  color: linear-gradient(to right, #21d4fd, #b721ff);
}

.primary {
  margin-left: 30px;
  color: #ffffff;
  background-color: #6a7dfe;
}

.primary:hover {
  background-color: #21d4fd;
}

.btn-outline-secondary {
  position: absolute;
  top: 5px;
  left: 70%;
}

main ul {
  margin-top: 10px;
  width: 100px;
  height: 10px;
  display: flex;
  justify-content: space-between;
}

.dots-progress {
  margin-bottom: 0;
}

.dot {
  width: 10px;
  height: 10px;
  list-style-type: none;
  border-radius: 50%;
  background-color: rgb(214, 218, 219);
}

.progress--1 li:nth-child(-n + 1) {
  background-color: rgb(253, 167, 8);
}

.progress--2 li:nth-child(-n + 2) {
  background-color: rgb(41, 188, 224);
}

.progress--3 li:nth-child(-n + 3) {
  background-color: rgb(144, 126, 185);
}

.progress--4 li:nth-child(-n + 4) {
  background-color: rgb(45, 0, 128);
}

.progress--5 li:nth-child(-n + 5) {
  background-color: rgb(14, 168, 14);
}

@media (max-width: 880px) {
  .btn-outline-secondary {
    top: 30px;
    left: 67%;
  }
}

@media (max-width: 575px) {
  .word-card {
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .nav-link,
  .primary {
    font-size: 14px;
  }

  .nav-link {
    padding: 0.5rem;
  }
}

@media (max-width: 460px) {
  .btn-outline-secondary {
    top: 35px;
    font-size: 10px;
  }

  .nav-link,
  .primary {
    font-size: 12px;
  }

  h4 {
    font-size: 1.2rem;
    margin-left: 5px;
  }
}

@media (max-width: 380px) {
  .primary {
    margin-left: 10px;
  }

  h4 {
    margin-left: 10px;
  }
}

@media (max-width: 360px) {
  main .row {
    flex-direction: column;
  }

  h4 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  .words-content {
    padding-left: 0;
    padding-right: 0;
  }
  
  .navigation {
    padding: 0;
  }
}
