.difficult-form {
  background-color: yellow;
  width: 80%;
  min-width: 300px;
  margin: 0 auto;
}

.label-difficult {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  font-size: 13px;
  width: 100%;
  box-sizing: border-box;
}

input[type='radio'] {
  display: none;
}

label:before {
  content: '';
  display: inline-block;

  width: 16px;
  height: 16px;

  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #aaa;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3),
    0px 1px 0px 0px rgba(255, 255, 255, 0.8);
}

.difficult-form label:before {
  border-radius: 8px;
}

input[type='radio']:checked + label:before {
  content: '\2022';
  color: #f3f3f3;
  font-size: 30px;
  text-align: center;
  line-height: 18px;
}

input[type='radio']:hover,
label:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
